.algo-hl7-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.algo-test-tool {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .hl7-config {
    width: 50vw;
    margin-right: 36px;
    flex: 1;
    border: 1px solid #DDDDDD;
    // box-shadow: 2px 2px 1px 1px #ccc;
    .cm-editor {
      height: calc(100vh - 48px);
      overflow-y: auto;
    }
  }
  .btn {
    width: 80px;
    height: 80px;
  }
}
